* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #005f73;
  font-size: 16px;
}

/* Main Game Window */
.field {
  background: black;
  width: 80vw;
  height: 70vh;
  margin: auto;
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tower {
  background-color: white;
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
.block {
  background-color: red;
  width: 16%;
  height: 8%;
  border-radius: 15px;
}

/* Stats and buttons  */
.stats-bar {
  width: 80vw;
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: left;
}
.left,
.right {
  height: 100%;
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.left {
  width: 60%;
  gap: 1.5vw;
  padding-left: 0%;
  justify-content: left;
}
.right {
  width: 40%;
  gap: 2vh;
  justify-content: right;
}
.button {
  width: 30%;
  border-radius: 10px;
  max-height: 100%;
  background-color: #002438;
  color: orange;

  font-size: 2.5rem;
  text-align: center;
  user-select: none;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-color: #003d5d;
  transition: all 0.3s ease-out;
}

.stats-bar > .button:active {
  background-color: #002438;
  transition: all 0.3s ease-out;
}
#counter {
  width: 15%;
  background-color: #002438;
  color: orange;
  font-size: 2rem;
  text-align: center;
}
